<html>
    <head>
        <title>Google Maps Example</title>
        <script   src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBW-lYFqJZf7ZPYs8mQf-8QqbCs6mNw8pI&callback=makeMeggiesMap" async defer></script>
        <style>
            #my-map {
                height:200px;
            }
        </style>
    </head>
    <body>
        <h1>YOOOOOOOO</h1>
        <a href="/get-lat-long?food_to_eat={{something}}">Get food</a>
        <div id="my-map"></div>
        Search for a restaurant
        <input type="text" id="food">
        <script>
        var thisMap; 
        var theFlaskResponse;
        function registerListeners(thisMap){
            thisMap.addListener('click', function(evt) {
                // var latClicked = evt.latLng.lat();
                // var lngClicked = evt.latLng.lng();
                var marker = new google.maps.Marker(
                        {
                            position: evt.latLng,
                            map: thisMap,
                            title: 'Somewhere I clicked!'
                        }
                );
            });
        }
        function makeMeggiesMap(){
            thisMap = new google.maps.Map(document.getElementById('my-map'), 
                {   
                    zoom: 10,
                    center: {"lng":-122.411540, "lat":37.788862}
                });
            registerListeners(thisMap);

        }
        function addParagraph(someData){
            $('body').append('<p>'+ someData.result+'</p>');
        }

        function putMarkerOnMap(whatFlaskReturned){
            addParagraph(whatFlaskReturned);
            if (whatFlaskReturned.result === "Your result was not found."){
                alert("Sorry, no result found. :( ");
            } else {
                var placeLat = whatFlaskReturned.result.lat;
                var placeLng = whatFlaskReturned.result.lng;
                var marker = new google.maps.Marker(
                        {
                            position: {'lat': placeLat, 'lng': placeLng},
                            map: thisMap,
                            title: 'Some restaurant'
                        }
                );

            }
        }


        // function handleClick(evt){
        //    debugger;   
        // }
        // $('#my-map').on('click', handleClick);
        

        function handleFoodEntry(evt){
            debugger;
            var whatTheyTyped = $('#food').val();
            // 2 alternative ways to get what the user typed:
            // document.getElementById("#food").value
            // evt.currentTarget.value
            var url = '/find-lat-long?place_to_eat='+whatTheyTyped;
            alert('Im about to send an AJAX GET request.');
            $.get(url, putMarkerOnMap);

        }

        $('#food').on('change', handleFoodEntry);
        
        </script>
    </body>
</html>