<html>
<head>
    <title>React Todo List</title>
    <!-- react -->
    <script src="http://unpkg.com/react/dist/react.js"></script>
    <script src="http://unpkg.com/react-dom/dist/react-dom.js"></script>

    <!-- react-router, for making our single-page-app -->
    <script src="https://unpkg.com/react-router@3.0.0/umd/ReactRouter.js"></script>

    <!-- not all browsers support the new AJAX fetch API, ao load a polyfill -->
    <script src="http://unpkg.com/whatwg-fetch"></script>

    <!-- to convert our jsx -->
    <script src="http://unpkg.com/babel-standalone"></script>

    <!-- sub-components we use -->
    <script src="static/app.jsx" type="text/jsx"></script>

</head>
<body>
    <div id="root"></div>
</body>
</html>